<h1>Test profile</h1>

<title>Name</title>

<img src="http://flaticons.net/gd/makefg.php?i=icons/Application/User-Profile.png" alt="test_profile image">

<img src="https://aggiesurplus.ucdavis.edu/pics/SurplusPropertyFormLg.jpg" alt="details">

<p>
  Lorem ipsum dolor sit amet, nemore referrentur an nec. Sea ex erant civibus, cum an legimus nusquam accumsan. Nam aliquid definitionem ea, mutat apeirian hendrerit mei ea. Cu clita scripserit sea.

  Tation epicuri ut ius, ius lorem dicunt te. Id ius ullum clita eruditi. Sed an constituam eloquentiam. Quo at esse habemus constituam, pri sensibus sadipscing te. Saepe mucius legimus an sea, incorrupte adversarium eos cu. Ne mel persius civibus lucilius, pri ei ignota deseruisse dissentiunt.
</p>

<section id="comments">
  <!-- add comment section -->
  <!--
  remember, they can either log in or or create a 

  <!-- show all comments from newest to oldest -->
  <%@comments.each do |comment|%>
    <%binding.pry%>
  <%end%>

</section>